.navigation-layout {
    width: 100vw;
    height: 100vh;
    background-position: right;
    background-color: #F5F5F7
}
.navigation-panel {
      background-color: #0F08BD;
      height: 100%;
      width: 368px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 60px;
      padding-right: 204px
  }
.content-panel {
    background: linear-gradient(90deg, #ffffff 60%, rgba(255, 255, 255, .6), transparent);
    position: absolute;
    inset: 64px 216px;
    min-width: 1400px;
    min-height: 800px
}
